<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @modifier.name %>
</p>

<p>
  <strong>Function:</strong>
  <%= @modifier.function %>
</p>

<p>
  <strong>Mechanism:</strong>
  <%= @modifier.mechanism %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @modifier.percentage %>
</p>

<p>
  <strong>Plus minus:</strong>
  <%= @modifier.plus_minus %>
</p>

<p>
  <strong>Change from:</strong>
  <%= @modifier.change_from %>
</p>

<p>
  <strong>Change to:</strong>
  <%= @modifier.change_to %>
</p>

<p>
  <strong>Plu offset:</strong>
  <%= @modifier.plu_offset %>
</p>

<p>
  <strong>Time from 1:</strong>
  <%= @modifier.time_from_1 %>
</p>

<p>
  <strong>Time to 1:</strong>
  <%= @modifier.time_to_1 %>
</p>

<p>
  <strong>Time from 2:</strong>
  <%= @modifier.time_from_2 %>
</p>

<p>
  <strong>Time to 2:</strong>
  <%= @modifier.time_to_2 %>
</p>

<p>
  <strong>Time from 3:</strong>
  <%= @modifier.time_from_3 %>
</p>

<p>
  <strong>Time to 3:</strong>
  <%= @modifier.time_to_3 %>
</p>

<p>
  <strong>Time from 4:</strong>
  <%= @modifier.time_from_4 %>
</p>

<p>
  <strong>Time to 4:</strong>
  <%= @modifier.time_to_4 %>
</p>

<p>
  <strong>Time from 5:</strong>
  <%= @modifier.time_from_5 %>
</p>

<p>
  <strong>Time to 5:</strong>
  <%= @modifier.time_to_5 %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @modifier.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @modifier.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @modifier.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @modifier.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @modifier.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @modifier.saturday %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @modifier.sunday %>
</p>

<%= link_to 'Edit', edit_modifier_path(@modifier) %> |
<%= link_to 'Back', modifiers_path %>
