<p id="notice"><%= notice %></p>

<h1>Listing Member Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member_categories.each do |member_category| %>
      <tr>
        <td><%= member_category.name %></td>
        <td><%= link_to 'Show', member_category %></td>
        <td><%= link_to 'Edit', edit_member_category_path(member_category) %></td>
        <td><%= link_to 'Destroy', member_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member category', new_member_category_path %>
