<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Card revenue:</strong>
  <%= @group.card_revenue %>
</p>

<p>
  <strong>Surcharge percent:</strong>
  <%= @group.surcharge_percent %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
