<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pop_up_window.name %>
</p>

<p>
  <strong>Plu id list:</strong>
  <%= @pop_up_window.plu_id_list %>
</p>

<p>
  <strong>Show price:</strong>
  <%= @pop_up_window.show_price %>
</p>

<%= link_to 'Edit', edit_pop_up_window_path(@pop_up_window) %> |
<%= link_to 'Back', pop_up_windows_path %>
