<p id="notice"><%= notice %></p>

<h1>Listing Member Note Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member_note_types.each do |member_note_type| %>
      <tr>
        <td><%= member_note_type.name %></td>
        <td><%= link_to 'Show', member_note_type %></td>
        <td><%= link_to 'Edit', edit_member_note_type_path(member_note_type) %></td>
        <td><%= link_to 'Destroy', member_note_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member note type', new_member_note_type_path %>
