<p id="notice"><%= notice %></p>

<h1>Listing Cashiers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Key code</th>
      <th>Functions 1</th>
      <th>Functions 2</th>
      <th>Functions 3</th>
      <th>Pin</th>
      <th>Needs sign in</th>
      <th>Regular wage</th>
      <th>Overtime wage 1</th>
      <th>Overtime wage 2</th>
      <th>Max day seconds</th>
      <th>Max day overtime 1 seconds</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cashiers.each do |cashier| %>
      <tr>
        <td><%= cashier.name %></td>
        <td><%= cashier.key_code %></td>
        <td><%= cashier.functions_1 %></td>
        <td><%= cashier.functions_2 %></td>
        <td><%= cashier.functions_3 %></td>
        <td><%= cashier.pin %></td>
        <td><%= cashier.needs_sign_in %></td>
        <td><%= cashier.regular_wage %></td>
        <td><%= cashier.overtime_wage_1 %></td>
        <td><%= cashier.overtime_wage_2 %></td>
        <td><%= cashier.max_day_seconds %></td>
        <td><%= cashier.max_day_overtime_1_seconds %></td>
        <td><%= link_to 'Show', cashier %></td>
        <td><%= link_to 'Edit', edit_cashier_path(cashier) %></td>
        <td><%= link_to 'Destroy', cashier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cashier', new_cashier_path %>
