<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Products</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/home">Home</a>
      </li>
      <li class="active">
        <strong>Products</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Filter Products</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li>
                <a href="#">Config option 1</a>
              </li>
              <li>
                <a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content m-b-sm border-bottom">
          <div class="row">
            <form role="form" action="<%= search_plus_path %>">
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="control-label" for="product_name">Product Name</label>
                  <input type="text" id="product_name" name="product_name" value="" placeholder="Product Name" class="form-control">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="control-label" for="group">Group</label>
                  <select name="group" id="group" class="form-control">
                    <option value='' selected>All Groups</option>
                    <% @groups.each do |group| %>
                      <option value='<%= group.id %>'><%= group.name %></option>
                    <% end %>
                  </select>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="control-label" for="price">Price</label>
                  <input type="text" id="price" name="price" value="" placeholder="Price" class="form-control">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="control-label" for="quantity">Quantity</label>
                  <input type="text" id="quantity" name="quantity" value="" placeholder="Quantity" class="form-control">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="control-label" for="Active">Active?</label>
                  <select name="active" id="active" class="form-control">
                    <option value="1" selected>Enabled</option>
                    <option value="0">Disabled</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-1">
                <label class="control-label" for="button">&nbsp;</label>
                <button class="btn btn-sm btn-primary form-control" type="submit"><i class="fa fa-search"></i>&nbsp;Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Products</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li>
                <a href="#">Config option 1</a>
              </li>
              <li>
                <a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover products">
            <thead>
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>Price</th>
              <th>Group</th>
              <th>Wallet</th>
              <th>Active?</th>
            </tr>
            </thead>
            <tbody>
            <% @plus.each do |plu| %>
              <tr>
                <td><%= plu.id %></td>
                <td><%= plu.name %></td>
                <td><%= number_to_currency(plu.price_1, locale: :en) %></td>
                <td><%= plu.group.name %></td>
                <td><%= plu.purse_no %></td>
                <td><%= plu.is_active ? 'Yes' : 'No' %></td>
              </tr>
            <% end %>
            </tbody>
            <tfoot>
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>Price</th>
              <th>Group</th>
              <th>Wallet</th>
              <th>Active?</th>
            </tr>
            </tfoot>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">
        $(document).ready(function() {

            $('.products').DataTable({
                columnDefs: [{width: '25px', targets: 0}],
                lengthMenu: [
                    [ 30, 60, 90, 120, -1 ],
                    [ '30', '60', '90', '120', 'All' ]],
                pageLength: 30,
                dom: 'itlp',
                ordering: true,
                responsive: true
            });


        });



    </script>

<% end %>
