<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plu.name %>
</p>

<p>
  <strong>Price 1:</strong>
  <%= @plu.price_1 %>
</p>

<p>
  <strong>Price 2:</strong>
  <%= @plu.price_2 %>
</p>

<p>
  <strong>Price 3:</strong>
  <%= @plu.price_3 %>
</p>

<p>
  <strong>Price 4:</strong>
  <%= @plu.price_4 %>
</p>

<p>
  <strong>Price 5:</strong>
  <%= @plu.price_5 %>
</p>

<p>
  <strong>Price 6:</strong>
  <%= @plu.price_6 %>
</p>

<p>
  <strong>Group:</strong>
  <%= @plu.group %>
</p>

<p>
  <strong>Plu cost:</strong>
  <%= @plu.plu_cost %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @plu.vat %>
</p>

<p>
  <strong>Stock mode:</strong>
  <%= @plu.stock_mode %>
</p>

<p>
  <strong>Rp sort group:</strong>
  <%= @plu.rp_sort_group %>
</p>

<p>
  <strong>Purse no:</strong>
  <%= @plu.purse_no %>
</p>

<p>
  <strong>Kp printer:</strong>
  <%= @plu.kp_printer %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @plu.barcode %>
</p>

<p>
  <strong>Price type:</strong>
  <%= @plu.price_type %>
</p>

<p>
  <strong>Condiment:</strong>
  <%= @plu.condiment %>
</p>

<p>
  <strong>Modifier:</strong>
  <%= @plu.modifier %>
</p>

<p>
  <strong>Popup window 1:</strong>
  <%= @plu.popup_window_1 %>
</p>

<p>
  <strong>Popup window 2:</strong>
  <%= @plu.popup_window_2 %>
</p>

<p>
  <strong>Popup window 3:</strong>
  <%= @plu.popup_window_3 %>
</p>

<p>
  <strong>Popup window 4:</strong>
  <%= @plu.popup_window_4 %>
</p>

<p>
  <strong>Popup window 5:</strong>
  <%= @plu.popup_window_5 %>
</p>

<p>
  <strong>Back colour:</strong>
  <%= @plu.back_colour %>
</p>

<p>
  <strong>Font colour:</strong>
  <%= @plu.font_colour %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @plu.is_active %>
</p>

<%= link_to 'Edit', edit_plu_path(@plu) %> |
<%= link_to 'Back', plus_path %>
