<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @card_discount_matrix.group %>
</p>

<p>
  <strong>Plu:</strong>
  <%= @card_discount_matrix.plu %>
</p>

<p>
  <strong>Card profile:</strong>
  <%= @card_discount_matrix.card_profile %>
</p>

<p>
  <strong>Card discount:</strong>
  <%= @card_discount_matrix.card_discount %>
</p>

<%= link_to 'Edit', edit_card_discount_matrix_path(@card_discount_matrix) %> |
<%= link_to 'Back', card_discount_matrices_path %>
