<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vat.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @vat.value %>
</p>

<%= link_to 'Edit', edit_vat_path(@vat) %> |
<%= link_to 'Back', vats_path %>
