<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @transaction.site_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @transaction.location_id %>
</p>

<p>
  <strong>Till:</strong>
  <%= @transaction.till %>
</p>

<p>
  <strong>Tab:</strong>
  <%= @transaction.tab_id %>
</p>

<p>
  <strong>Start date time:</strong>
  <%= @transaction.start_date_time %>
</p>

<p>
  <strong>End date time:</strong>
  <%= @transaction.end_date_time %>
</p>

<p>
  <strong>Receipt no:</strong>
  <%= @transaction.receipt_no %>
</p>

<p>
  <strong>Cashier:</strong>
  <%= @transaction.cashier %>
</p>

<p>
  <strong>Cashier name:</strong>
  <%= @transaction.cashier_name %>
</p>

<p>
  <strong>Media:</strong>
  <%= @transaction.media %>
</p>

<p>
  <strong>Media name:</strong>
  <%= @transaction.media_name %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @transaction.total_amount %>
</p>

<p>
  <strong>Total discounted amount:</strong>
  <%= @transaction.total_discounted_amount %>
</p>

<p>
  <strong>Total nett amount:</strong>
  <%= @transaction.total_nett_amount %>
</p>

<p>
  <strong>Total vat amount:</strong>
  <%= @transaction.total_vat_amount %>
</p>

<p>
  <strong>Total discount:</strong>
  <%= @transaction.total_discount %>
</p>

<p>
  <strong>Total topup:</strong>
  <%= @transaction.total_topup %>
</p>

<p>
  <strong>Total paid out:</strong>
  <%= @transaction.total_paid_out %>
</p>

<p>
  <strong>Total surcharge:</strong>
  <%= @transaction.total_surcharge %>
</p>

<p>
  <strong>Amount tendered:</strong>
  <%= @transaction.amount_tendered %>
</p>

<p>
  <strong>Change given:</strong>
  <%= @transaction.change_given %>
</p>

<p>
  <strong>No sale:</strong>
  <%= @transaction.no_sale %>
</p>

<p>
  <strong>Card holder:</strong>
  <%= @transaction.card_holder %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @transaction.card_number %>
</p>

<p>
  <strong>Card name:</strong>
  <%= @transaction.card_name %>
</p>

<p>
  <strong>Amount purse 1:</strong>
  <%= @transaction.amount_purse_1 %>
</p>

<p>
  <strong>Discounted amount purse 1:</strong>
  <%= @transaction.discounted_amount_purse_1 %>
</p>

<p>
  <strong>Nett amount purse 1:</strong>
  <%= @transaction.nett_amount_purse_1 %>
</p>

<p>
  <strong>Discount purse 1:</strong>
  <%= @transaction.discount_purse_1 %>
</p>

<p>
  <strong>Surcharge purse 1:</strong>
  <%= @transaction.surcharge_purse_1 %>
</p>

<p>
  <strong>Vat amount purse 1:</strong>
  <%= @transaction.vat_amount_purse_1 %>
</p>

<p>
  <strong>Start balance purse 1:</strong>
  <%= @transaction.start_balance_purse_1 %>
</p>

<p>
  <strong>End balance purse 1:</strong>
  <%= @transaction.end_balance_purse_1 %>
</p>

<p>
  <strong>Amount purse 2:</strong>
  <%= @transaction.amount_purse_2 %>
</p>

<p>
  <strong>Discounted amount purse 2:</strong>
  <%= @transaction.discounted_amount_purse_2 %>
</p>

<p>
  <strong>Nett amount purse 2:</strong>
  <%= @transaction.nett_amount_purse_2 %>
</p>

<p>
  <strong>Discount purse 2:</strong>
  <%= @transaction.discount_purse_2 %>
</p>

<p>
  <strong>Surcharge purse 2:</strong>
  <%= @transaction.surcharge_purse_2 %>
</p>

<p>
  <strong>Vat amount purse 2:</strong>
  <%= @transaction.vat_amount_purse_2 %>
</p>

<p>
  <strong>Start balance purse 2:</strong>
  <%= @transaction.start_balance_purse_2 %>
</p>

<p>
  <strong>End balance purse 2:</strong>
  <%= @transaction.end_balance_purse_2 %>
</p>

<p>
  <strong>Amount purse 3:</strong>
  <%= @transaction.amount_purse_3 %>
</p>

<p>
  <strong>Discounted amount purse 3:</strong>
  <%= @transaction.discounted_amount_purse_3 %>
</p>

<p>
  <strong>Nett amount purse 3:</strong>
  <%= @transaction.nett_amount_purse_3 %>
</p>

<p>
  <strong>Discount purse 3:</strong>
  <%= @transaction.discount_purse_3 %>
</p>

<p>
  <strong>Surcharge purse 3:</strong>
  <%= @transaction.surcharge_purse_3 %>
</p>

<p>
  <strong>Vat amount purse 3:</strong>
  <%= @transaction.vat_amount_purse_3 %>
</p>

<p>
  <strong>Start balance 3:</strong>
  <%= @transaction.start_balance_3 %>
</p>

<p>
  <strong>End balance 3:</strong>
  <%= @transaction.end_balance_3 %>
</p>

<p>
  <strong>Amount purse 4:</strong>
  <%= @transaction.amount_purse_4 %>
</p>

<p>
  <strong>Discounted amount purse 4:</strong>
  <%= @transaction.discounted_amount_purse_4 %>
</p>

<p>
  <strong>Nett amount purse 4:</strong>
  <%= @transaction.nett_amount_purse_4 %>
</p>

<p>
  <strong>Discount purse 4:</strong>
  <%= @transaction.discount_purse_4 %>
</p>

<p>
  <strong>Surcharge purse 4:</strong>
  <%= @transaction.surcharge_purse_4 %>
</p>

<p>
  <strong>Vat amount purse 4:</strong>
  <%= @transaction.vat_amount_purse_4 %>
</p>

<p>
  <strong>Start balance 4:</strong>
  <%= @transaction.start_balance_4 %>
</p>

<p>
  <strong>End balance 4:</strong>
  <%= @transaction.end_balance_4 %>
</p>

<p>
  <strong>Amount purse 5:</strong>
  <%= @transaction.amount_purse_5 %>
</p>

<p>
  <strong>Discounted amount purse 5:</strong>
  <%= @transaction.discounted_amount_purse_5 %>
</p>

<p>
  <strong>Nett amount purse 5:</strong>
  <%= @transaction.nett_amount_purse_5 %>
</p>

<p>
  <strong>Discount purse 5:</strong>
  <%= @transaction.discount_purse_5 %>
</p>

<p>
  <strong>Surcharge purse 5:</strong>
  <%= @transaction.surcharge_purse_5 %>
</p>

<p>
  <strong>Vat amount purse 5:</strong>
  <%= @transaction.vat_amount_purse_5 %>
</p>

<p>
  <strong>Start balance 5:</strong>
  <%= @transaction.start_balance_5 %>
</p>

<p>
  <strong>End balance 5:</strong>
  <%= @transaction.end_balance_5 %>
</p>

<p>
  <strong>Did not make it:</strong>
  <%= @transaction.did_not_make_it %>
</p>

<p>
  <strong>Finalised:</strong>
  <%= @transaction.finalised %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
