<p id="notice"><%= notice %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Members</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/home">Home</a>
      </li>
      <li class="active">
        <strong>Search Members</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-sm-8">
      <div class="ibox">
        <div class="ibox-content">
          <span class="text-muted small pull-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.06.2014</span>
          <h2>Members</h2>
          <p>
            All members need to be verified before you can send them an email.
          </p>
          <%= form_tag('/members/search', method: 'get') do %>
            <div class="input-group">
              <%= text_field_tag(:q, nil, class:'input form-control', placeholder:'Search Members') %>
              <span class="input-group-btn">
              <button type="submit" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
              </span>
            </div>
          <% end %>
          <div class="clients-list">
            <ul class="nav nav-tabs">
              <span class="pull-right small text-muted"><%= "#{@members.count} member".pluralize + " found"%></span>
              <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> Members</a></li>
            </ul>
            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <div class="full-height-scroll">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <tbody>
                      <% if @members.count > 0 %>
                      <% @members.each do |member| %>
                        <tr>
                            <td class="client-avatar"><img alt="image" src="<%= image_path('a10.jpg') %>"> </td>
                            <td><a data-toggle="tab" href=<%= "#contact-#{member.id}"%> class="client-link"><%= "#{member.forename} #{member.surname}" %></a></td>
                            <td class="contact-type"><i class="fa fa-address-card"></i></td>
                            <td><%=member.addresses.first.address_1%></td>
                            <td class="contact-type"><i class="fa fa-group"></i></td>
                            <td> <%= member.member_category.name%></td>
                            <td class="client-status"><span class="label <%= member.is_active ? "label-primary" : "label-danger" %>"><%= member.is_active ? "Active" : "Inactive"%></span></td>
                        </tr>
                      <% end %>
                      <% else %>
                          <tr>
                            <td>Search again</td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="ibox ">
        <div class="ibox-content">
          <div class="tab-content">
            <% @members.each do |member| %>
              <div id="<%="contact-#{member.id}"%>" class="<%= member.id == @members.first.id ? "tab-pane active" : "tab-pane" %>">
                <div class="row m-b-lg">
                  <div class="col-lg-4 text-center">
                    <h2><%= "#{member.forename} #{member.surname}"%></h2>

                    <div class="m-b-sm">
                      <img alt="image" class="img-circle" src="<%= image_path('a10.jpg') %>"
                           style="width: 62px">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <strong>
                      Profile
                    </strong>

                    <p>
                      This member joined on <strong><%= member.join_date.strftime('%A %d %B %Y')%></strong>. Birthday is on <strong><%= member.birth_date.strftime('%d %B') %></strong>
                    </p>
                    <%= link_to '<i class="fa fa-address-card"></i> View full profile'.html_safe, member_path(member), type:'button', class:'btn btn-primary btn-sm btn-block' %>
                  </div>
                </div>
                <div class="client-detail">
                  <div class="full-height-scroll">

                    <strong>Details</strong>

                    <ul class="list-group clear-list">
                      <li class="list-group-item first-item">
                        <span class="pull-right"> <%= member.member_category.name%> </span>
                        Category
                      </li>
                      <li class="list-group-item">
                        <span class="pull-right"> £562.00 </span>
                        Account Balance
                      </li>
                      <li class="list-group-item">
                        <span class="pull-right"> £22.54 </span>
                        Bar Account Balance
                      </li>
                      <li class="list-group-item">
                        <span class="pull-right"> <%=  member.card_holder.nil? ? "None" : member.card_holder.card_number %> </span>
                        Card Number
                      </li>
                      <li class="list-group-item">
                        <span class="pull-right"> 11:06 pm </span>
                        Call back to Sylvia
                      </li>
                      <li class="list-group-item">
                        <span class="pull-right"> 12:00 am </span>
                        Write a letter to Sandra
                      </li>
                    </ul>
                    <strong>Notes</strong>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <hr />
                    <strong>Timeline activity</strong>
                    <div id="vertical-timeline" class="vertical-container dark-timeline">
                      <% member.member_notes.each do |mn| %>
                          <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon gray-bg">
                              <i class="<%= mn.member_note_type_id == 1 ? "fa fa-desktop" : "fa fa-user-circle"%>"></i>
                            </div>
                            <div class="vertical-timeline-content">
                              <p>
                                <%= mn.note %>
                              </p>
                              <span class="vertical-date small text-muted"> <%= mn.updated_at.strftime('%I:%M %P - %d.%m.%Y') %> </span>
                            </div>
                          </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

