<div class='center hero-unit'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Details</div>
            <div class="panel-body" align="left">
              <h4>Prefix: <small><%= @member.prefix%></small></h4>
              <h4>Title: <small><%= @member.title%></small></h4>
              <h4>Initials: <small><%= @member.initials%></small></h4>
              <h4>Forename: <small><%= @member.forename%></small></h4>
              <h4>Surname: <small><%= @member.surname%></small></h4>
              <h4>Suffix: <small><%= @member.suffix%></small></h4>
            </div>
          </div>
        </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Address Details</div>
          <div class="panel-body" align="left">
            <ul class="nav nav-tabs">
              <% b = false %>
              <% @address_types.each do |at| %>
                <li class="<%= ("active") unless b %>"><a href="#<%=at.id%>"  data-toggle="tab"><%= at.name%></a></li>
                <% b = true %>
               <% end %>
            </ul>
            <div class="tab-content">
              <% b = false %>
              <% @address_types.each do |at| %>
                <div class="tab-pane <%= ("active") unless b %>" id=<%=at.id%>>
                    <% a = @member.addresses.find_by(address_type_id:at.id)%>
                    <% if a.nil? %>
                      No Address
                    <% else %>
                        <h4>Address 1: <small><%= a.address_1%></small></h4>
                        <h4>Address 2: <small><%= a.address_2%></small></h4>
                        <h4>Address 3: <small><%= a.address_3%></small></h4>
                        <h4>Address 4: <small><%= a.address_4%></small></h4>
                        <h4>Post Code: <small><%= a.post_code%></small></h4>
                    <% end %>
                </div>
                <% b = true %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Contact Details</div>
          <div class="panel-body" align="left">
            <% if @member.telephone_numbers.count > 0 %>
                <% telNos = @member.telephone_numbers %>
                <% telNos.each do |t| %>
                    <h4>Telephone: <small><%= "#{t.number} (#{t.telephone_type.name})"%> </small></h4>
                <% end %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
