<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @member.code %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @member.prefix %>
</p>

<p>
  <strong>Title:</strong>
  <%= @member.title %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @member.initials %>
</p>

<p>
  <strong>Forename:</strong>
  <%= @member.forename %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @member.surname %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @member.suffix %>
</p>

<p>
  <strong>Address:</strong>
  <%= @member.address %>
</p>

<p>
  <strong>Telephone number:</strong>
  <%= @member.telephone_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @member.email_address %>
</p>

<p>
  <strong>Member category:</strong>
  <%= @member.member_category %>
</p>

<p>
  <strong>Formal salutation:</strong>
  <%= @member.formal_salutation %>
</p>

<p>
  <strong>Informal salutation:</strong>
  <%= @member.informal_salutation %>
</p>

<p>
  <strong>Male:</strong>
  <%= @member.male %>
</p>

<p>
  <strong>Master:</strong>
  <%= @member.master %>
</p>

<p>
  <strong>Direct debit:</strong>
  <%= @member.direct_debit %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @member.birth_date %>
</p>

<p>
  <strong>Join date:</strong>
  <%= @member.join_date %>
</p>

<p>
  <strong>Left date:</strong>
  <%= @member.left_date %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @member.is_active %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
